.MusicBox{
    border-bottom: 1px solid grey;
    margin-top: 10px;
    margin-left: 10px;
}

.musicName{
    font-size: 20px;
    font-weight: bold;
    
}

.musicLink{
    color: #1394fe;
}

.inputField{
    border:0; 
    border-bottom:1px solid #eee; 

}