.header{
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    grid-area: h;
    border-bottom: 2px  solid #F5F5F5 ;
    
    
    /* background-color: #f1f1f1 ; */
    
  }
  .header img{
    width: 80px;
    height: 70px;
    margin-left: 20px;
  }
  .login{
    display: flex;
    font-size: 18px;
    color:black;
    justify-content: flex-end

  }
  .login:hover{
    color:gold
  }

  .logout{
    justify-content: flex-end
  }
  /* button.logout{
    color:white;
    border-radius: 5px;
  }
  button.logout:hover{
    color:gold;
    box-shadow: 13px 2px 16px -5px rgba(95,158,160,0.91);
  } */
