.nav {
  grid-area: n;

 
}





.navRow {
  display: flex;
  justify-content: space-around;

}

/* .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid gray;
  color: black;
}

.link {
  border: 0;
  text-decoration: none;
  font-weight: 500;
  height: 40px;
  color:black;
  
}

.link:hover{
  color:gold
}


.active {
  color: gold;
  font-weight: bold;
}

.siteBar{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  height: 100px;
  
}

.siteBarName{
  font-weight: 500;
  color:gold;
  padding-bottom: 10px;
  ;
}

.sideBarItems{
 
  display: flex;
  
}

.sideBarItem{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.siteBarItemNumber{
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
} */