.profileImg{
    height: 250px;
    width: 1000px;
}

.profileUserImg{
    height: 100px;
    width: 100px;
    margin-left: 5px;
}

h3{
    margin-left: 15px;
}

.usersContact{
    margin-left: 15px;
    margin-bottom: 15px;
}

.usersProfile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #808080;
    
}

.fullName{
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    
    text-transform: uppercase;
}

.aboutMe{
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
    color: #505050
}

.lookingForAJob{
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
     font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #505050;
    
}